In [4]:
import pandas as pd
game_df = pd.read_csv("game.csv")
game_df.head()

,game_id,match_id,game_nbr,score_w,score_l,w_team_id,l_team_id,skill_lvl,scoring_type,ball_type,dt_played
0,G347,M219,1,12,10,T311,T310,Pro,STANDARD_DOUBLES,D40,2022-10-25
1,G481,M317,1,5,5,T391,T390,4.0,STANDARD_DOUBLES,U,2023-10-01
2,G361,M227,1,15,9,T159,T321,3.5,STANDARD_DOUBLES,FX40,2023-10-21
3,G107,M54,1,11,4,T78,T82,4.5,STANDARD_DOUBLES,U,2023-02-25
4,G104,M52,1,11,5,T78,T79,4.5,STANDARD_DOUBLES,U,2023-02-25

In [5]:
player_df = pd.read_csv("player.csv")
player_df.head()

  player_id gender dom_hand  doubles_dupr  doublesreliabilityscore
0      P699      M        L           NaN                      NaN
1      P600      M        R         4.101                      5.0
2      P472      M        R           NaN                      NaN
3      P320      M        R           NaN                      0.0
4      P290      M        L         3.967                      1.0