In [4]:
import pandas as pd
game_df = pd.read_csv("game.csv")
game_df.head()

,game_id,match_id,game_nbr,score_w,score_l,w_team_id,l_team_id,skill_lvl,scoring_type,ball_type,dt_played
0,G347,M219,1,12,10,T311,T310,Pro,STANDARD_DOUBLES,D40,2022-10-25
1,G481,M317,1,5,5,T391,T390,4.0,STANDARD_DOUBLES,U,2023-10-01
2,G361,M227,1,15,9,T159,T321,3.5,STANDARD_DOUBLES,FX40,2023-10-21
3,G107,M54,1,11,4,T78,T82,4.5,STANDARD_DOUBLES,U,2023-02-25
4,G104,M52,1,11,5,T78,T79,4.5,STANDARD_DOUBLES,U,2023-02-25

In [5]:
player_df = pd.read_csv("player.csv")
player_df.head()

  player_id gender dom_hand  doubles_dupr  doublesreliabilityscore
0      P699      M        L           NaN                      NaN
1      P600      M        R         4.101                      5.0
2      P472      M        R           NaN                      NaN
3      P320      M        R           NaN                      0.0
4      P290      M        L         3.967                      1.0

In [20]:
# what is the average doubles_dupr score for Right handed verses Left handed players
# Vertical Bar. y = dupr ranking 0 to 5? 
# x has 2 bars one for R and one for L
player_df.info
dom_hand_and_dupr = player_df[['dom_hand', 'doubles_dupr']]
print(dom_hand_and_dupr)

    dom_hand  doubles_dupr
0          L           NaN
1          R         4.101
2          R           NaN
3          R           NaN
4          L         3.967
..       ...           ...
918        R           NaN
919        R           NaN
920        R           NaN
921        R           NaN
922        R           NaN

[923 rows x 2 columns]

In [24]:
print(dom_hand_and_dupr['doubles_dupr'].isna().sum())

554

In [17]:
print(player_df.columns)

Index(['player_id', 'gender', 'dom_hand', 'doubles_dupr',
       'doublesreliabilityscore'],
      dtype='object')

In [10]:
rally_df = pd.read_csv("rally.csv")
rally_df.head()

,rally_id,game_id,match_id,rally_nbr,w_team_id,srv_team_id,srv_player_id,rtrn_team_id,rtrn_player_id,ts_player_id,...,ending_type,ending_player_id,srv_switch_ind,rtrn_switch_ind,srv_team_flipped_ind,rtrn_team_flipped_ind,srv_team_rs_player_id,srv_team_ls_player_id,rtrn_team_rs_player_id,rtrn_team_ls_player_id
0,R8968,G208,M113,6,T152,T152,P202,T155,P70,P202,...,Other,NaN,Y,N,N,N,P203,P202,P70,P205
1,R8963,G208,M113,1,T155,T152,P202,T155,P70,NaN,...,Error,P203,Y,N,N,N,P203,P202,P70,P205
2,R8964,G208,M113,2,T152,T155,P70,T152,P202,P205,...,Error,P205,N,Y,N,N,P70,P205,P203,P202
3,R8965,G208,M113,3,T155,T155,P205,T152,P203,P205,...,Error,P203,N,Y,N,N,P70,P205,P203,P202
4,R8966,G208,M113,4,T155,T155,P205,T152,P202,P70,...,Winner,P205,Y,Y,Y,N,P70,P205,P203,P202

In [9]:
rally_df.describe()

          rally_nbr     rally_len
count  40702.000000  40193.000000
mean      23.977814      7.623915
std       15.556937      5.453049
min        1.000000     -1.000000
25%       11.000000      4.000000
50%       22.000000      6.000000
75%       34.000000     10.000000
max      107.000000     70.000000

In [13]:
shot_type_df = pd.read_csv("shot_type_ref.csv")
shot_type_df.head(16)

,shot_type,shot_type_desc,shot_type_desc_full
0,O,Other,NaN
1,U,Unknown,NaN
2,SE,Serve,The first shot of a rally; must bounce; must l...
3,R,Return,The second shot of a rally; must bounce. Retur...
4,tsDrp,3rd Shot Drop,The third shot of a rally; player attempts to ...
5,tsDrv,3rd Shot Drive,The third shot of the rally; player attempts t...
6,tsLob,3rd Shot Lob,The third shot of a rally; player attempts to ...
7,tzApp,Transition Zone - Approach,Hit by a player attempting to reach the NVZ. O...
8,tzRep,Transition Zone - Repel,"Hit by a player at the NVZ, and where one or m..."
9,D,Dink,Hit at the NVZ to opponents who are also at/ne...
10,SP,Speed Up,Hit at the NVZ to opponents who are also at/ne...
11,HB,Hand Battle,Hit with pace by a player who is responding to...
12,Res,Reset,Hit with the intention of neutralizing an oppo...
13,L,Lob,Hit high in the air with the intention of hitt...
14,OH,Overhead,Hit in response to a lob where a player smacks...
15,A,ATP,Hit around the post – usually with minimal cle...

In [14]:
shot_df = pd.read_csv("shot.csv")
shot_df.head()

,shot_id,rally_id,shot_nbr,shot_type,player_id,loc_x,loc_y,next_loc_x,next_loc_y
0,S213113,R26079,2,R,P582,18.35,23.70,18.64,21.59
1,S237646,R29288,3,tsDrv,P670,13.68,21.77,11.84,0.00
2,S213112,R26079,1,SE,P197,13.40,22.32,18.35,23.70
3,S213152,R26086,1,SE,P488,5.60,22.97,3.29,24.25
4,S213210,R26092,2,R,P488,5.50,20.58,9.81,12.03

In [15]:
team_df = pd.read_csv("team.csv")
team_df.head(
    
)

  team_id player_id  player_seq_nbr
0      T3        P5               1
1      T3        P2               2
2      T5        P8               1
3      T5        P9               2
4      T7       P12               1